In [0]:
import pandas as pd

In [8]:
df=pd.read_csv("https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,9,1608,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1640,1643,1648,1657,1666,1669,1674,1683,1688,1689,1690,1691,1692,1697,1700,1703,1704,1705,1706,1707,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.size

13489492

In [10]:
df.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'OMENRUP_FULLTIME_POOLED_SUPP', 'OMENRYP_PARTTIME_POOLED_SUPP',
       'OMENRAP_PARTTIME_POOLED_SUPP', 'OMAWDP8_PARTTIME_POOLED_SUPP',
       'OMENRUP_PARTTIME_POOLED_SUPP', 'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN',
       'G12MN', 'SCUGFFN'],
      dtype='object', length=1982)

In [0]:
#CONTROL (ownership type), MD_EARN_WNE_P10 (potential earning)

df1=df[['CONTROL','MD_EARN_WNE_P10']]

In [12]:
df1.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
2        2           39600
3        1           46700
4        1           27700

In [0]:
df1.head(50)

df1 = df1[df1["CONTROL"] == 1]

In [14]:
df1.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
3        1           46700
4        1           27700
5        1           44500

In [15]:
df1.isnull().sum()

CONTROL              0
MD_EARN_WNE_P10    147
dtype: int64

In [0]:
df2 = df1.dropna()

In [17]:
df2.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
3        1           46700
4        1           27700
5        1           44500

In [18]:
df2.isnull().sum()

CONTROL            0
MD_EARN_WNE_P10    0
dtype: int64

In [19]:
df2.sample(5)

      CONTROL MD_EARN_WNE_P10
1935        1           46400
2459        1           37500
462         1           40500
3680        1           39700
2903        1           34900

In [0]:
df2 = df2[df2.MD_EARN_WNE_P10 != 'PrivacySuppressed']

In [21]:
df2.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
3        1           46700
4        1           27700
5        1           44500

In [0]:
df3=df2

In [0]:
df3['MD_EARN_WNE_P10'] = pd.to_numeric(df3['MD_EARN_WNE_P10'], errors='coerce')

In [24]:
df3.head()

   CONTROL  MD_EARN_WNE_P10
0        1            31000
1        1            41200
3        1            46700
4        1            27700
5        1            44500

In [25]:
df3['MD_EARN_WNE_P10'].describe()

count      1853.000000
mean      36083.216406
std       13464.472651
min       10800.000000
25%       29000.000000
50%       33500.000000
75%       39800.000000
max      241900.000000
Name: MD_EARN_WNE_P10, dtype: float64

In [26]:
#for sample 50 

df4 = df3.sample(50)
mean1  = df3.mean()
mean1

CONTROL                1.000000
MD_EARN_WNE_P10    36083.216406
dtype: float64

In [0]:
dev=df4.std()

In [28]:
dev

CONTROL               0.000000
MD_EARN_WNE_P10    7636.459271
dtype: float64

In [29]:
import math
standard_error = dev / math.sqrt(50)
standard_error

CONTROL               0.000000
MD_EARN_WNE_P10    1079.958427
dtype: float64

In [30]:
# Calculate 68% Confidence Interval (CI) - one standard error from the population mean
# 68% chances the population mean is within the sample_mean (+ or -) the standard error (SE)
LCL_68 = mean1 -  standard_error
UCL_68 = mean1 +  standard_error

print("Lower confidence limit at 68% confidence level = ", round(LCL_68,2))
print("Upper confidence limit at 68% confidence level = ", round(UCL_68,2))

Lower confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    35003.26
dtype: float64
Upper confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    37163.17
dtype: float64

In [31]:
# Calculate 95% Confidence Interval (CI) - one standard error from the population mean
# 90% chances the population mean is within the sample_mean + or - 2 * the standard error (SE)

LCL_95 = mean1 -  2 * standard_error
UCL_95 = mean1 +  2 * standard_error

print("Lower confidence limit at 95% confidence level = ", round(LCL_95,2))
print("Upper confidence limit at 95% confidence level = ", round(UCL_95,2))

Lower confidence limit at 95% confidence level =  CONTROL                1.0
MD_EARN_WNE_P10    33923.3
dtype: float64
Upper confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    38243.13
dtype: float64

In [32]:
# Calculate 99.7% Confidence Interval (CI) - one standard error from the population mean
# 99.7% chances the population mean is within the sample_mean + or - 3 * the standard error (SE)
LCL_997 = mean1 -  3 * standard_error
UCL_997 = mean1 +  3 * standard_error
print("Lower confidence limit at 99.7% confidence level = ", round(LCL_997,2))
print("Upper confidence limit at 99.7% confidence level = ", round(UCL_997,2))

Lower confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    32843.34
dtype: float64
Upper confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    39323.09
dtype: float64

In [33]:
#for sample 50 

df_100 = df3.sample(100)
mean100  = df3.mean()
mean100

CONTROL                1.000000
MD_EARN_WNE_P10    36083.216406
dtype: float64

In [0]:
dev100=df_100.std()

In [38]:
dev100

CONTROL                0.000000
MD_EARN_WNE_P10    17044.482386
dtype: float64

In [39]:
import math
standard_error100 = dev100 / math.sqrt(50)
standard_error100

CONTROL               0.000000
MD_EARN_WNE_P10    2410.453815
dtype: float64

In [40]:
# Calculate 68% Confidence Interval (CI) - one standard error from the population mean
# 68% chances the population mean is within the sample_mean (+ or -) the standard error (SE)
LCL_68 = mean100 -  standard_error100
UCL_68 = mean100 +  standard_error100

print("Lower confidence limit at 68% confidence level = ", round(LCL_68,2))
print("Upper confidence limit at 68% confidence level = ", round(UCL_68,2))

Lower confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    33672.76
dtype: float64
Upper confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    38493.67
dtype: float64

In [41]:
# Calculate 95% Confidence Interval (CI) - one standard error from the population mean
# 90% chances the population mean is within the sample_mean + or - 2 * the standard error (SE)

LCL_95 = mean100 -  2 * standard_error100
UCL_95 = mean100 +  2 * standard_error100

print("Lower confidence limit at 95% confidence level = ", round(LCL_95,2))
print("Upper confidence limit at 95% confidence level = ", round(UCL_95,2))

Lower confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    31262.31
dtype: float64
Upper confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    40904.12
dtype: float64

In [42]:
# Calculate 99.7% Confidence Interval (CI) - one standard error from the population mean
# 99.7% chances the population mean is within the sample_mean + or - 3 * the standard error (SE)
LCL_997 = mean100 -  3 * standard_error100
UCL_997 = mean100 +  3 * standard_error100
print("Lower confidence limit at 99.7% confidence level = ", round(LCL_997,2))
print("Upper confidence limit at 99.7% confidence level = ", round(UCL_997,2))

Lower confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    28851.85
dtype: float64
Upper confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    43314.58
dtype: float64

In [0]:
population_mean = df3['MD_EARN_WNE_P10'].mean() #Population Mean

In [46]:
population_mean

36083.21640582839

In [0]:
sample_mean = df4['MD_EARN_WNE_P10'].mean() #Sample mean

In [47]:
sample_mean

32180.0

In [45]:
print("Difference is: ", population_mean - sample_mean)

Difference is:  3903.216405828389

CONTROL    0.788954
dtype: float64

In [0]:
# get standard errors
sems = dataset.groupby('condition_number').sem()
sems.drop('subject_number', axis=1)